* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sen", sans-serif;
  }
  
  /* About Page Styles */
  .about,
  .mission,
  .benefits,
  .contact {
    padding: 40px 20px;
    text-align: center;
  }
  