/* Footer Section */
footer {
    background-color: #384959;
    color: #BDDDFC;
    padding: 30px 0;
    font-family: "Sen", sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 30%;
    margin-left: 20px;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #88BDF2; 
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #88BDF2; 
}

.social-media-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #88BDF2; 
}

/* Footer Bottom Section */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
}

.footer-bottom p {
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .social-media-icons {
        justify-content: center;
    }
}
