* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
}

/* ===============login=============== */
.containerLogIn {
  width: 100%;
  height: 100vh;
  background-color: #384959;
}

#loginForm {
  width: 350px;
  height: 450px;
  background-color: #88bdf2;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 4px #bdddfc;
}

.containerLogIn #loginForm h1 {
  font-weight: bold;
  color: #384959;
  text-align: center;
  font-size: 2rem;
  line-height: 24px;
  padding: 10px;
}

#loginForm input {
  width: 100%;
  height: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #384959;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
}

#loginForm input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
}

.login {
  width: 250px;
  height: 40px;
  font-size: 1rem;
  background: #384959;
  color: #bdddfc;
  border: none;
  margin-top: 30px;
  margin-left: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

/* Mobile Devices (<= 767px) */
@media (max-width: 767px) {
  #loginForm {
    width: 80%;
    height: auto;
    padding: 20px;
    margin-top: 20%;
  }

  .containerLogIn #loginForm h1 {
    font-size: 1.5rem;
  }

  #loginForm input {
    height: 35px;
    font-size: 14px;
    margin-top: 20px;
  }

  .login {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    margin-left: 0;
  }
}

/* Tablet Devices (768px - 1024px) */
@media (max-width: 1024px) {
  #loginForm {
    width: 60%;
    height: auto;
    padding: 25px;
    margin-top: 5%;
  }

  .containerLogIn #loginForm h1 {
    font-size: 1.75rem;
  }

  #loginForm input {
    height: 35px;
    font-size: 15px;
    margin-top: 25px;
  }

  .login {
    width: 100%;
    height: 45px;
    font-size: 1.1rem;
    margin-left: 0;
  }
}
