/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
      background-color: #88bdf2;
      padding: 15px 0;
      top: 0;
      height: 80px;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header h1 {
        color: #384959;
        font-weight: 700;
        font-size: 1.8rem;
        margin-left: 20%;
      }
      .user-info {
        position: absolute;
        right: 5%;
        top: 15px;
        color: #384959;
        display: flex;
        align-items: center;
      }
      
      .user-info #username-display {
        margin-right: 10px;
        font-size: 1.2rem;
      }

      .user-info #logout-button {
        background-color: #384959;
        color: #BDDDFC;
        font-size: 1rem;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      .user-info #logout-button:hover {
        background-color: #BDDDFC;
        color: #384959;
        border: 1px solid #384959;
      }
      
      .review-body {
        background-color: #384959;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      
      .review-body .nav {
        background: #bdddfc;
        padding: 15px 0;
        top: 0;
        position: fixed;
        width: 100%;
      }

      .wrapper {
        background-color: #88bdf2;
        padding: 2rem;
        max-width: 900px;
        width: 100vw;
        border-radius: 0.75rem;
        box-shadow: 0 0 3px #384959;
        text-align: center;
      }
      
      