/* ==============user registration=============== */
.registrationContainer {
  background-color: #88bdf2;
  width: 500px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  border-radius: 8px;
  box-shadow: 0 0 5px #88bdf2;
}

.registrationContainer h2 {
  font-weight: bold;
  color: #384959;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 20px;
}

.inputGroup {
  position: relative;
  margin: 20px auto;
}

.inputGroup i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #384959;
}

.inputGroup input {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #384959;
  border-radius: 5px;
  height: 45px;
  font-size: 16px;
}

.inputGroup input:focus {
  outline: none;
  border-color: #88bdf2;
}

.error-message {
  color: rgb(241, 67, 67);
  text-align: center;
}

.success-message {
  color: #384959;
  text-align: center;
}

.regBtn {
  background-color: #384959;
  color: #bdddfc;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.regBtn:hover {
  background-color: #bdddfc;
  color: #384959;
  border: 2px solid #384959;
}
