* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

/* Header */
header {
    background-color: #88bdf2;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

header h1 {
    color: #384959;
    font-weight: bold;
    font-size: 1.5rem;
    flex-grow: 1;
    margin-left: 15px;
}


header .header-nav {
    flex-grow: 2;
    text-align: center;
    display: flex;
    justify-content: center;
}

header .header-nav ul {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    list-style: none;
}

header .header-nav ul li {
    display: inline-block;
}

header .header-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
    transition: color 0.3s ease;
}

header .header-nav ul li a:hover {
    background-color: #384959;
    border-radius: 5px;
    padding: 10px;
}


header #signinBtn {
    background: #384959;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: 10px;
}

header #signinBtn i {
    margin-left: 10px;
    /* color: #bdddfc !important; */
}

header button:hover {
    background-color: #384959;
    color: #bdddfc;
    border: 1px solid #bdddfc;
}