* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

/* Header */
header {
    background-color: #88bdf2;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

header h1 {
    color: #384959;
    font-weight: bold;
    font-size: 1.5rem;
    flex-grow: 1;
    margin-left: 15px;
}